colorama==0.4.6
fastapi==0.115.12
networkx==3.4.2
numpy==1.23.5
pandas==2.2.3
psycopg2-binary==2.9.10
PyYAML==6.0.2
requests==2.32.3
tensorflow==2.12.0
matplotlib==3.7.1
uvicorn==0.23.2
scikit-learn==1.6.1 
python-multipart==0.0.20
